.footer {
    background-color: var(--cor-preta);
}

.footer_p {
    text-align: center;
    padding: 1rem;
    color: var(--cor-branca);
    font-family: var(--fonte-inter);
    font-size: 0.8125rem;
    line-height: 1.25rem; /* 153.846% */
}